@use "sass:list";
@use "../01_utilities/variables" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$black-color) {
        --cyb-sys-color-black-#{$i}: #{list.nth(utilities.$black-color, $i)};
    }

    @for $i from 1 through list.length(utilities.$blue-gray-color) {
        --cyb-sys-color-blue-gray-#{$i}: #{list.nth(utilities.$blue-gray-color, $i)};
    }

    @for $i from 1 through list.length(utilities.$light-blue-color) {
        --cyb-sys-color-light-blue-#{$i}: #{list.nth(utilities.$light-blue-color, $i)};
    }

    @for $i from 1 through list.length(utilities.$beige-color) {
        --cyb-sys-color-beige-#{$i}: #{list.nth(utilities.$beige-color, $i)};
    }

    @for $i from 1 through list.length(utilities.$white-color) {
        --cyb-sys-color-white-#{$i}: #{list.nth(utilities.$white-color, $i)};
    }

    @for $i from 1 through list.length(utilities.$red-color) {
        --cyb-sys-color-red-#{$i}: #{list.nth(utilities.$red-color, $i)};
    }
}

@for $i from 1 through list.length(utilities.$black-color) {

    .g--color-black-#{$i} {
        color: var(--cyb-sys-color-black-#{$i});
    }
}

@for $i from 1 through list.length(utilities.$blue-gray-color) {

    .g--color-blue-gray-#{$i} {
        color: var(--cyb-sys-color-blue-gray-#{$i});
    }
}

@for $i from 1 through list.length(utilities.$light-blue-color) {

    .g--color-light-blue-#{$i} {
        color: var(--cyb-sys-color-light-blue-#{$i});
    }
}

@for $i from 1 through list.length(utilities.$beige-color) {

    .g--color-beige-#{$i} {
        color: var(--cyb-sys-color-beige-#{$i});
    }
}

@for $i from 1 through list.length(utilities.$white-color) {

    .g--color-white-#{$i} {
        color: var(--cyb-sys-color-white-#{$i});
    }
}

@for $i from 1 through list.length(utilities.$red-color) {

    .g--color-red-#{$i} {
        color: var(--cyb-sys-color-red-#{$i});
    }
}
