<div class="c-login-container">
    <div class="c-form">
        <form class="c-form__card" (ngSubmit)="register()">
            <h2 class="c-form__title">Regístrate</h2>

            <div class="c-form-group">
                <label for="name" class="c-form__label">Nombre</label>
                <input type="text" id="name" class="c-form__input" placeholder="Ingresa tu nombre" [(ngModel)]="name"
                    name="name" required>
            </div>

            <div class="c-form-group">
                <label for="email" class="c-form__label">Correo electrónico</label>
                <input type="email" id="email" class="c-form__input" placeholder="Ingresa tu correo" [(ngModel)]="email"
                    name="email" required>
            </div>

            <div class="c-form-group">
                <label for="address" class="c-form__label">Dirección</label>
                <input type="text" id="address" class="c-form__input" placeholder="Ingresa tu dirección"
                    [(ngModel)]="address" name="address" required>
            </div>

            <div class="c-form-group">
                <label for="phone" class="c-form__label">Teléfono</label>
                <input type="tel" id="phone" class="c-form__input" placeholder="Ingresa tu teléfono" [(ngModel)]="phone"
                    name="phone" required>
            </div>

            <div class="c-form-group">
                <label for="password" class="c-form__label">Contraseña</label>
                <input type="password" id="password" class="c-form__input" placeholder="Crea una contraseña"
                    [(ngModel)]="password" name="password" required>
            </div>

            <div [hidden]="!errorMessage" class="c-error-message">
                {{ errorMessage }}
            </div>

            <button type="submit" class="c-form__button" [disabled]="isSubmitting">
                {{ isSubmitting ? 'Registrando...' : 'Registrarse' }}
            </button>

            <div class="c-form-footer">
                <span>¿Ya tienes cuenta? </span>
                <a routerLink="/login" class="c-form-link">Inicia sesión</a>
            </div>
        </form>
    </div>
</div>
