.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cyb-sys-color-white-7);
    padding-top: 150px;
    padding-bottom: 100px;
}

.form-group {
    margin-bottom: var(--cyb-sys-margin-6);
}

.error-message {
    color: var(--cyb-sys-color-red-5);
    font-size: var(--cyb-sys-font-size-3);
    margin-bottom: var(--cyb-sys-margin-4);
    text-align: center;
    font-family: var(--cyb-sys-font-family-body);
}

.form-footer {
    margin-top: 2rem;
    text-align: center;
    font-size: var(--cyb-sys-font-size-3);
    font-family: var(--cyb-sys-font-family-body);
    color: var(--cyb-sys-color-black-5);

    .form-link {
        color: var(--cyb-sys-color-blue-gray-6);
        text-decoration: none;
        font-weight: var(--cyb-sys-font-weight-6);

        &:hover {
            text-decoration: underline;
        }
    }
}