<div class="c-product-card" [routerLink]="['/products', product.id]">
    <div class="c-product-image-container">
        <img [src]="imageUrl" [alt]="product.name" class="c-product-image">
    </div>
    <div class="c-product-info">
        <h3 class="c-product-name">{{ product.name }}</h3>
        <p class="c-product-description">{{ product.description }}</p>
        <div class="c-product-footer">
            <div class="c-product-price-line">
                <span class="c-product-price">{{ product.price | number:'1.2-2' }} €</span>
                <span class="c-product-price-meta">IVA incl.</span>
            </div>
        </div>
    </div>
</div>