<div class="gallery-wrap">
  <div class="gallery gallery--bento gallery--switch" id="gallery-8">
    <div class="gallery__item">
      <img src="/images/gsap/decoracion.png" alt="" />
    </div>
    <div class="gallery__item">
      <img src="/images/gsap/iluminacion.png" alt="" />
    </div>
    <div class="gallery__item">
      <img src="/images/gsap/fotoDelCentro.jpg" alt="" />
    </div>
    <div class="gallery__item">
      <img src="/images/gsap/organizadores.png" alt="" />
    </div>
    <div class="gallery__item">
      <img src="/images/gsap/exterior.png" alt="" />
    </div>
    <div class="gallery__item">
      <img src="/images/gsap/textil.png" alt="" />
    </div>
    <div class="gallery__item">
      <img src="/images/gsap/aromas.png" alt="" />
    </div>
    <div class="gallery__item">
      <img src="/images/gsap/bebes.jpeg" alt="" />
    </div>
  </div>
</div>
<div class="section" id="gallery-end">
  <p class="categories-title">Explora nuestras categorías</p>
  <div class="categories-nav">
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/imagencentro.jpeg" alt="Muebles" />
      </div>
      <span class="category-label">Muebles</span>
    </a>
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/iluminacionBoton.jpeg" alt="Iluminación" />
      </div>
      <span class="category-label">Iluminación</span>
    </a>
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/decoracionBoton.jpeg" alt="Decoración" />
      </div>
      <span class="category-label">Decoración</span>
    </a>
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/textil.png" alt="Textiles" />
      </div>
      <span class="category-label">Textiles</span>
    </a>
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/organizadores.png" alt="Organizadores" />
      </div>
      <span class="category-label">Organizadores</span>
    </a>
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/aromas.png" alt="Aromas" />
      </div>
      <span class="category-label">Aromas</span>
    </a>
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/bebes.png" alt="Bebes" />
      </div>
      <span class="category-label">Bebes</span>
    </a>
    <a href="#" class="category-item">
      <div class="category-img">
        <img src="/images/gsap/exterior.png" alt="Exterior" />
      </div>
      <span class="category-label">Exterior</span>
    </a>
  </div>
</div>
