<div class="c-gallery-wrap">
  <div class="c-gallery c-gallery--bento c-gallery--switch" id="c-gallery-8">
    <div class="c-gallery__item">
      <img src="/images/gsap/decoracion.png" alt="" />
    </div>
    <div class="c-gallery__item">
      <img src="/images/gsap/iluminacion.png" alt="" />
    </div>
    <div class="c-gallery__item">
      <img src="/images/gsap/fotoDelCentro.jpg" alt="" />
    </div>
    <div class="c-gallery__item">
      <img src="/images/gsap/organizadores.png" alt="" />
    </div>
    <div class="c-gallery__item">
      <img src="/images/gsap/exterior.png" alt="" />
    </div>
    <div class="c-gallery__item">
      <img src="/images/gsap/textil.png" alt="" />
    </div>
    <div class="c-gallery__item">
      <img src="/images/gsap/aromas.png" alt="" />
    </div>
    <div class="c-gallery__item">
      <img src="/images/gsap/bebes.jpeg" alt="" />
    </div>
  </div>
</div>
